.roomDetailContainer {
    height: 100%;
    background-color: #f2f0e4;
    margin: -1.5em -1em;
}

.roomDetailContainer .head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8em .5em 1.5em .5em;
}

.roomDetailContainer .head > div:nth-child(2) {
    display: flex;
    align-items: center;
}

.roomDetailContainer .arrowIcon {
    width: 35px;
    transform: rotate(-90deg);
    margin-top: -.5em;
}

.roomDetailContainer .profileImg {
    width: 25px;
    border-radius: 50%;
}

.head span {
    font-size: 1em;
    margin-left: .5em;
}

.head svg {
    font-size: 1.4em;
}

.roomDetailCard {
    height: 90vh;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.roomDetailCard h6 {
    font-size: .675em;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: .3em;
}

.roomDetailCard .memberContainer {
    width: 70px;
    position: relative;
    text-align: center;
}

.roomDetailCard .memberContainer img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 20px;
}

.roomDetailCard .memberContainer p {
    font-weight: 500;
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

.roomDetailCard .memberContainer p span {
    font-size: 2.5em;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #28ae61;
    color: white;
    margin: .1em;
    line-height: 0.7;
}


.roomDetailCard .memberContainer .audioIcon {
    position: absolute;
    right: -5px;
    bottom: 35px;
    z-index: 1000;
    color: #28ae61;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #ccc;
}

.Footer {
    padding: .5em .7em;
    display: flex;
    justify-content: space-between;
}

.Footer button {
    border: none;
    background-color: #e7e4d5;
    border-radius: 2em;
}

.Footer > button {
    display: flex;
    align-items: center;
    padding: .3em 1em;
    font-weight: 500;
}

.Footer > button span {
    color: #28ae61;
    margin-left: .3em;
}

.Footer svg {
    color: rgb(214, 187, 154);
    font-size: 2em;
    width: 30px;
}

.Footer > div > button:first-child svg {
    color: black;
}

.Footer > div button:nth-child(3) svg {
    color: black;
    font-size: 1.5em;
}

.Footer > div {
    display: flex;
    align-items: center;
}

.Footer > div > button {
    width: 36px;
    height: 36px;
    line-break: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer > div > button:first-child {
    font-size: 1.5em;
    margin: 0 .5em;
}

.Footer > div > button:nth-child(2) {
    margin: 0 .5em;
}