* {
  box-sizing: border-box;
}

:root {
  --text-color: rgb(65,64,66);
  --btnBgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

button {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Neutrif Pro';
}


.primaryBtn {
  background-color: var(--btnBgColor);
  color: white;
  border-radius: 2em;
  padding: .5em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}


.primaryBtn img {
  margin-left: 5px;
  margin-top: 3px;
}

.app_layout {
  background-color: #f2f0e4;
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}